/* style.css */

/* Polices personnalisées */
@font-face {
    font-family: 'Higuen';
    src: url('style/Higuen-Regular.ttf') format('truetype');
}



/* Variables couleurs */
:root {
    --blue: #58c7f6;
    --black: #000000;
    --white: #ffffff;
    --light-gray: #f7f7f7;
}


/* Corps de la page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    color: var(--black);
    margin: 0;
    padding: 0;
}


/* Header et footer */
.header,
.footer {
    background-color: var(--black);
    color: var(--blue);
    text-align: center;

    font-size: 38px;
    padding: 20px 10px;

    font-family: 'Vintage Goods', cursive;
    font-weight: bold;
}


/* Tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}


th,
td {
    padding: 16px;
    border: 1px solid #cccccc;
    vertical-align: top;
    font-size: 18px;
}


th {
    background-color: var(--black);
    color: var(--blue);

    font-family: 'Vintage Goods', cursive;
    font-size: 28px;
    font-weight: bold;

    text-align: center;
}


td:first-child {
    width: 40%;
}


td {
    background-color: #fdfdfd;
}


/* Paragraphes */
p {
    font-size: 21px;
    margin: 10px 0;

    text-align: justify;
    hyphens: auto;

    color: var(--black);
    font-family: 'Lora', serif;
}


/* Alternance des lignes */
tr:nth-child(even) td {
    background-color: var(--light-gray);
}


/* Largeur colonne 4 */
th:nth-child(4),
td:nth-child(4) {
    width: 30%;
}


/* Objectif */
.objective {
    font-weight: bold;
    text-decoration: underline;

    color: var(--black);

    margin-bottom: 5px;
    font-size: 18px;
}


/* Responsive mobile */
@media (max-width: 768px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }


    th,
    td {
        width: 100% !important;
    }


    .header,
    .footer {
        font-size: 28px;
    }


    p {
        font-size: 18px;
    }
}